.h1{
    float:left;
    text-align: left;
    color:white;
    margin-top: 10px;
}

.navbar-collapse{
    margin:0 auto;
    justify-content:left;
    align-items:flex-start;
}

.form{
    overflow:hidden;
    position:relative;
}
body{
    background-color: white;
}